@model Estoque.Entities.PessoaJuridica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PessoaJuridica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Razao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Razao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
