@model IEnumerable<Estoque.DAL.Entities.Pais>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    ViewData["Title"] = "Consulta";
    ViewData["Formulario"] = "Países";
    ViewData["Acao"] = "Consulta";
}

<div class="col-lg-12">
    <p>
        <a class="btn btn-success" asp-action="Create">Adicionar</a>
    </p>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Consulta de países</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4" >@Html.DisplayNameFor(model => model.Nome)</th>
                        <th >Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td colspan="4"> @Html.DisplayFor(modelItem => item.Nome) </td>
                            <td>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i>&nbsp; Editar</a> |
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info"></i>&nbsp; Detalhes</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>&nbsp; Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>