@model IEnumerable<Estoque.DAL.Entities.Pais>
@{
    ViewData["Title"] = "Consulta";
    ViewData["Formulario"] = "Países";
    ViewData["Acao"] = "Consulta";
}

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i>&nbsp; Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info"></i>&nbsp; Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>&nbsp; Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
